{% extends 'base.html' %}

{% block content %}
	<font size="6" color="blue">Tus mensajes enviados</font><br><br>
	{% if enviados %}
		{% for Mensaje in enviados %}
			<a href="/buzon/leer/{{Mensaje.id}}">Mensaje a {{Mensaje.to}}</a><br>

		{% endfor %}
	{% else %}
		No tiene mensajes. <br>
	{% endif %}


{% endblock %}

{% block section-navigation %}
	<a href="/buzon/enviar">Enviar mensaje</a><br>
	<a href="/buzon">Bandeja de Entrada</a><br>
	<a href="/buzon/enviados">Enviados</a><br>
{% endblock %}