{% extends 'base.html' %}

{% block title %}<h3>Perfil del Usuario</h3>{% endblock %}
{% block content %}
	<p>Bienvenido {{usuario|upper}}, la ultima vez que te vimos por aquí fue el {{usuario.last_login}}.</p>

	<h2>Opciones</h2>
	<div class="col_w460">
		<div class="fp_service_box fp_c1">
			<img src="{{STATIC_URL}}/media/iconos/anadir.png" alt="Image 1" width="60" height="60"/>
            <a href="/articulo/nuevo"> Publicar un artículo</a>	Publica tu propio artículo sobre lo que quieras cambiar.
		</div>
    </div>
    <div class="col_w460">
       	<div class="fp_service_box fp_c2">
    	    <img src="{{STATIC_URL}}/media/iconos/lista.png" alt="Image 2" width="60" height="60"/>
            <a href="/usuario/{{usuario.id}}"> Ver mis artículos.</a>	Ver tus artículos publicados.
		</div>
    </div>
    <div class="col_w460">
		<div class="fp_service_box fp_c3">
			<img src="{{STATIC_URL}}/media/iconos/correo.png" alt="Image 3" width="60" height="60" />
            <a href="/buzon"> Ver correo.</a> Revisa tu correo por si algún usuario ha comentado tus artículos.
		</div>
	</div>
    <div class="col_w460">
        <div class="fp_service_box fp_c4">
            <img src="{{STATIC_URL}}/media/iconos/edit_user.png" alt="Image 4" width="60" height="60"/>

            <a href="/editar/{{usuario.id}}"> Editar tu perfil</a> Si quieres editar algo de tu perfil, este es tu lugar.

		</div>
	</div>
{% endblock %}